@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
  font-family: 'Montserrat';
  padding: 15px;
  width: 300px;
  background-image: url('fundo.png');
  background-repeat: no-repeat;
  background-size: cover; /* ou 'contain' ou 'auto' */
  background-position: center;
  .duda {
    position: absolute;
    width: 230px;
    height: 231px;
    z-index: -1;
    margin-right: -114px;
  }
}


h1 {
  font-family: 'Montserrat';
  display: flex;
  font-size: 30px;
  margin-bottom: 10px;
  justify-content: center;  /* CORRETO: centraliza horizontalmente */
  align-items: center;      /* CORRETO: alinha verticalmente */
  margin: 8px;
  font-weight: 900;
  color: white;
  
}
h2 {
  font-family: 'Montserrat';
  display: flex;
  font-size: 24px;
  margin-bottom: 10px;
  justify-content: center;  /* CORRETO: centraliza horizontalmente */
  align-items: center;      /* CORRETO: alinha verticalmente */
  margin: 8px;
  font-weight: 900;

}

p {
  font-family: 'Montserrat';
  display: flex;
  font-size: 15px;
  margin-bottom: 10px;
  justify-content: center;  /* CORRETO: centraliza horizontalmente */
  align-items: center;      /* CORRETO: alinha verticalmente */
  margin: 8px;
  font-weight: 500;
  color: white;
}

button {
  width: 100%;
  background-color: rgb(40, 35, 93);
  color: white;
  border: none;
  padding: 14px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
  margin: 10px;
}

/* Estilo para o cabeçalho do App */
#app-header {
    display: flex;
    justify-content: space-between; /* Isso empurra os itens para os cantos opostos */
    align-items: center;
    margin-bottom: 10px; /* Um pequeno espaço abaixo do cabeçalho */
}

/* Garante que o título não tenha margens estranhas */
#app-header h1 {
    margin: 0;
}

/* Estilo para o novo botão de troca de operação */
.change-op-button {
    background-color: transparent;
    border: none;
    font-size: 20px; /* Aumenta o tamanho do emoji */
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.change-op-button:hover {
    background-color: #f0f0f0;
}

button:hover {
  background-color: rgb(217, 17, 120);
  color: black; /* <- Adicionado para mudar o texto ao passar o mouse */
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; 
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 300px;
  position: relative;
  z-index: 1000;
}

.fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.fechar:hover {
  color: black;
}

#app-header {
  position: relative;
  display: flex;
  justify-content: center; /* centraliza o título */
  align-items: center;
}

#popup-title {
  font-size: 24;
  margin: 0;
}

#change-op-button-container{
  position: absolute;
  right: 0; /* botão gruda no lado direito */

}